:root {
    --Primaire: #9356dc;
    --Secondaire: #ff79da;
    --Tertiaire: #99E2D0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LOGO */
.logo {
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
}

.logo__img {
    width: 195px;
    height: 35px;
    font-family: 'Shrikhand', cursive;
    margin: 15px auto;
}

.location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-top: 3px solid #d2cccc;
}

.location__paragraphe {
    font-family: 'Roboto', sans-serif;
}

/* RECHERCHER */
.rechercherMenu {
    background-color: rgb(242, 238, 238);
    padding-left: 50px;
    padding: 50px 0px 50px 50px;
}

.rechercherMenu__titre {
    font-family: 'Roboto', cursive;
    margin: 0px;
}

.rechercherMenu__paragraphe {
    font-family: 'Roboto', sans-serif;
    color: rgb(175, 158, 158);
}

.rechercherMenu__bouton {
    background-color: rgb(195, 49, 117);
    color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}


/* FONCTIONNEMENT */
.btn {
    display: flex;
    justify-content: space-around;
    background-color: rgb(216, 211, 211);
    width: 95vw;
}
.btn__span {
    border-radius: 50%;
    background-color: yellow;
}
.btn__choice {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* CARD */

.containerRestaurant {
    background-color: #9356dc;
}

.restaurantTitre {
    padding-left: 20px;
}
.card {
    padding-left: 20px;
}

.card__imgcadre {
        width: 95vw;
}

.card__image {
    width: 95vw;
}

.card__underBlock {
    background-color: gold;
}


.footer {
    background-color: rgb(111, 89, 89);
    color: white;
}

.logo__footer {
    height: 20px;   
    width: 100px;
    font-family: 'Shrikhand', cursive;
}